# MinIO 설정
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=miniosecret
MINIO_DATA_PATH=/home/smallpod/DATA/smallpod/minio
MINIO_ENDPOINT=http://minio:9000
MINIO_EXTERNAL_ENDPOINT=http://100.97.183.123:19000

# Label Studio 설정
LABEL_STUDIO_HOST=http://localhost:8082
POSTGRES_DATA_DIR=./postgres-data

# MinIO 버전 (선택사항)
MINIO_VERSION=RELEASE.2025-04-22T22-12-26Z

# Prometheus 설정 (선택사항)
MINIO_PROMETHEUS_URL=http://prometheus:9090
MINIO_PROMETHEUS_AUTH_TYPE=public

# Label Studio S3 Storage 설정
LABEL_STUDIO_S3_ENDPOINT=http://minio:9000
LABEL_STUDIO_S3_ACCESS_KEY=labelstudio
LABEL_STUDIO_S3_SECRET_KEY=labelpass
LABEL_STUDIO_S3_BUCKET=aws-diagram-object-detection
LABEL_STUDIO_S3_PREFIX=preprocessed/